@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap&#39');

:root{
    --cor-de-fundo: #000000;
    --grifar: #fc0909;
    --branco: #ffffff; 
    --botao-ativo: #44E7FC;
    --botao-inativo: #447BFC; 
    --texto-fundo: #000000;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}

.titulo-principall{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao{
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff
    color(srgb red green blue)
}